$main : rgb(238, 212, 212) ; 
$btn-color : rgb(250, 6, 55) ;
$box-shadow :   0px 0px 20px #ddd ;



*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: auto;

}

@mixin btn {
    padding: 8px 20px ;
    text-transform: capitalize;
    font-weight: bold;
    background-color: $btn-color;
    color: white;
    position: relative;
    border-radius: 10px;
    &::before{
        position: absolute;
        content: "";
        background-color: black;
        width: 0%;
        height: 100%;
        transition: 0.3s linear;
        top: 0%;
        left: 0%;
    }
    &:hover::before{
        width: 100%;
    }
    &:hover{
        color: #999;
    }
}

// header
.App{
    height: 2000px;
}


.header{
    position: sticky;
    top: 0%;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            color: #999;
        }
        ul{
            z-index: 1000;
            display: flex;
            gap: 15px;
            a{
                color: #999;
                font-size: 17px;
                border-radius: 6px;
                &:hover{
                    transition: 0.3s linear ;
                    background-color: black;
                    color: white;
                    padding: 5px 10px ;

                }
            }
        }
        i{
            color: #999;
            font-size: 20px;
            display: none;
            cursor: pointer;
        }
    }
    box-shadow: $box-shadow;
}

@media (max-width : 900px ) {
    .header{
        .container {
            i{
                display: block;
            }
            ul{
                transform: translateX(-100%);
                margin: 0%;
                padding: 0%;
                flex-direction: column;
                position: fixed;
                top: 80px;
                left: 0;
                height: calc(100vh - 80px);
                background-color: #999;
                width: 250px;
                li{
                    width: 100%;
                    a{
                        color: white;
                        display: block;
                        width: 100%;
                        padding: 10px 20px;
                        &:hover{
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }
    }
}

.translate{
    transform: translateX(0%) !important;
}


.trans{
    transition: all 0.3s linear !important ;
}

@media (min-width : 901px) {
     .trans{
        transition: none !important;
     }
}

// header