* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}

.cen {
  text-align: center;
  text-transform: capitalize;
  margin: 40px 0px;
}
.cen span {
  border-radius: 5px;
  padding: 8px 12px;
  background-color: rgb(238, 212, 212);
  color: rgb(250, 6, 55);
}

.header {
  background-color: #ddd;
  z-index: 1000;
  position: sticky;
  top: 0%;
  -webkit-box-shadow: 0px 0px 20px #ddd;
          box-shadow: 0px 0px 20px #ddd;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container h1 {
  color: #999;
}
.header .container ul {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.header .container ul a {
  color: #999;
  font-size: 17px;
  border-radius: 6px;
}
.header .container ul a:hover {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background-color: black;
  color: white;
  padding: 5px 10px;
}
.header .container i {
  color: #999;
  font-size: 20px;
  display: none;
  cursor: pointer;
  background-color: rgb(238, 212, 212);
  padding: 10px;
}

@media (max-width: 900px) {
  .header .container i {
    display: block;
  }
  .header .container ul {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    margin: 0%;
    padding: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    background-color: #999;
    width: 250px;
  }
  .header .container ul li {
    width: 100%;
  }
  .header .container ul li a {
    color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
  }
  .header .container ul li a:hover {
    padding: 10px 20px;
  }
}
.translate {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.trans {
  -webkit-transition: all 0.3s linear !important;
  transition: all 0.3s linear !important;
}

@media (min-width: 901px) {
  .trans {
    -webkit-transition: none !important;
    transition: none !important;
  }
}
.home {
  background-color: rgb(238, 212, 212);
  position: relative;
  height: auto;
}
.home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}
.home .container .con {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}
.home .container .con button {
  padding: 8px 20px;
  text-transform: capitalize;
  font-weight: bold;
  background-color: rgb(250, 6, 55);
  color: white;
  position: relative;
  border-radius: 6px;
  border: none;
  outline: none;
  z-index: 0;
  cursor: pointer;
  margin: 15px 0px;
}
.home .container .con button::before {
  position: absolute;
  content: "";
  background-color: black;
  width: 0%;
  height: 100%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  top: 0%;
  left: 0%;
  z-index: -1;
  border-radius: 6px;
}
.home .container .con button:hover::before {
  width: 100%;
}
.home .container .con button:hover {
  color: white;
}
.home .container .img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}
.home .container .img img {
  width: 100%;
}
.home .cloud {
  background-image: url("/public/images/cloud.png");
  background-repeat: repeat-x;
  background-size: 2000px 200px;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  -webkit-animation: cloud 10s linear infinite;
          animation: cloud 10s linear infinite;
}
.home .c1 {
  opacity: 0.5;
  height: 140px;
  animation-direction: reverse;
}

@-webkit-keyframes cloud {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 1700px;
  }
}

@keyframes cloud {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 1700px;
  }
}
@media (max-width: 888px) {
  .home .container .con {
    text-align: center;
  }
}
.service .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.service .container .box {
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px #ddd;
          box-shadow: 0px 0px 20px #ddd;
}
.service .container .box h2 {
  text-transform: capitalize;
  color: #999;
}
.service .container .box button {
  padding: 8px 20px;
  text-transform: capitalize;
  font-weight: bold;
  background-color: rgb(250, 6, 55);
  color: white;
  position: relative;
  border-radius: 6px;
  border: none;
  outline: none;
  z-index: 0;
  cursor: pointer;
  margin: 15px 0px;
}
.service .container .box button::before {
  position: absolute;
  content: "";
  background-color: black;
  width: 0%;
  height: 100%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  top: 0%;
  left: 0%;
  z-index: -1;
  border-radius: 6px;
}
.service .container .box button:hover::before {
  width: 100%;
}
.service .container .box button:hover {
  color: white;
}

@media (max-width: 400px) {
  .service .container {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}
.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.about .container .img {
  -webkit-box-flex: 1;
      -ms-flex: 1 400px;
          flex: 1 400px;
}
.about .container .img img {
  width: 100%;
  height: 500px;
}
.about .container .con {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}
.about .container .con h2 {
  text-transform: capitalize;
}
.about .container .con p {
  color: #999;
}
.about .container .con button {
  padding: 8px 20px;
  text-transform: capitalize;
  font-weight: bold;
  background-color: rgb(250, 6, 55);
  color: white;
  position: relative;
  border-radius: 6px;
  border: none;
  outline: none;
  z-index: 0;
  cursor: pointer;
  margin: 15px 0px;
}
.about .container .con button::before {
  position: absolute;
  content: "";
  background-color: black;
  width: 0%;
  height: 100%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  top: 0%;
  left: 0%;
  z-index: -1;
  border-radius: 6px;
}
.about .container .con button:hover::before {
  width: 100%;
}
.about .container .con button:hover {
  color: white;
}
.about .container .con .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.about .container .con .all .go {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  height: 150px;
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about .container .con .all .go i {
  color: rgb(250, 6, 55);
  cursor: pointer;
  background-color: rgb(238, 212, 212);
  padding: 20px;
  border-radius: 50%;
}

.portfolio .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.portfolio .container .box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px #ddd;
          box-shadow: 0px 0px 20px #ddd;
}
.portfolio .container .box img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.portfolio .container .box .abso-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(30% at 93% 0);
          clip-path: circle(30% at 93% 0);
  top: 0px;
  background-color: white;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.portfolio .container .box:hover .abso-1 {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}
.portfolio .container .box:hover .abso-2 {
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  top: 50%;
}
.portfolio .container .box .abso-2 {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.portfolio .container .box .abso-2 h1 {
  margin-bottom: 0%;
}
.portfolio .container .box .abso-2 p {
  margin-top: 0%;
  font-weight: bold;
}
.portfolio .container .box h1.gre {
  position: absolute;
  top: 10px;
  right: 30px;
  margin: 0%;
}

@media (max-width: 400px) {
  .portfolio .container {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
  .portfolio .container img {
    width: 100%;
  }
}